.about-content{
    width: 100%;
    display: flex;
    align-items: center; 
    justify-content: space-between;
    flex-direction: column;  
}
.about-head{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}
.about-head h1{
    font-weight: 300;
    margin-bottom: 10px;
}
.about-area{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.left{
    width: 40%;
    height: 300px;
    background-color: grey;
}
.right{
    width: 50%;
    height: 300px;
}
.right h2{
    font-weight: 300;
    margin-bottom: 30px;
}
.right p{
    font-size: 14px;
    margin-bottom: 35px;
    text-align: justify;
}
#contact-btn{
    padding: 8px 20px;
    text-decoration: none;
    font-size: 18px;
    color: rgb(240, 174, 50);
    border: 1px solid rgb(240, 174, 50);
    border-radius: 6px;
}
.about-text{
    width: 100%;
    margin: 4% 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgb(245, 246, 247);
}
.about-area2{
    margin-top: 10px;
    width: 60%;
    padding: 0 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.about-area2 .text p {
    color: rgb(106, 107, 108);
}
.text{
    margin-bottom: 25px;
    text-align: justify;
}
.text h3{
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 8px;
}


.outline {
  width: 50px;
  height: 2px;
  background-color: rgb(240, 174, 50);
  margin: -5px 0 8px 0;
}
