.head-top{
    height: 25px;
    width: 100%;
    color: #6d6868;
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8%;
}
.social-icon i{
    margin-left: 4px;
}
.social-icon i:hover{
    color: rgb(240, 174, 50);
    cursor: pointer;
}