.contact-area{
    width: 100%;
    height: 720px;
    padding: 0px 50px 20px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(245, 246, 247);
}
.contact-head h1{
    text-align: center;
}
.contact-head p{
    font-size: 14px;
    color: #6d6868;
    margin-top: 8px;
    text-align: center;
    line-height: 20px;
}
.contact-form{
    width: 80%;
    height: 550px;
    background: #fff;
    margin-top: 15px;
    border-radius: 8px;
    padding: 40px 60px;
    display: flex;
    justify-content: space-between;
}
.mess-form{
    flex-basis: 58%;
}
.mess-form h2{
    color: #514c4c;
    font-size: 23px;
    font-weight: 300;
    margin-bottom: 15px;
}
.mess-form .full_name{
    display: flex;
    justify-content: space-between;
}
.mess-form p{
    color: #3d3d3d;
    font-size: 16px;
    margin-bottom: 3px;
}
.mess-form input,textarea{
    width: 100%;
    padding: 12px;
    border: none;
    outline: none;
    border-radius: 4px;
    margin-bottom: 12px;
    border: 2px solid #e8e8e8;
    font-size: 16px;
}
input::placeholder{
    color: #bebbbb;
}
textarea::placeholder{
    color: #bebbbb;
}
.send-btn{
    padding: 10px 65px;
    border: 1.6px solid rgb(241, 190, 94);
    color: rgb(240, 174, 50);
    background: #fff;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    margin-top: 20px;
}
.send-btn:hover{
    border-color: rgb(240, 174, 50);
}
.contact-info{
    flex-basis: 40%;
    padding: 20px 30px;
    border: 1.6px solid #d4d2d2;
    border-radius: 5px;
    background: rgb(245, 245, 248);
    margin-left: 50px;
    position: relative;
}
.contact-info h2{
    font-weight: 300;
    color: #514c4c;
}
.info-detail{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 25px;
    padding-left: 30px;
}
.contact-address{
    width: 100%;
    margin-bottom: 22px;
}
.info-detail .contact-address i{
    position: absolute;
    left: 22px;
    font-size: 17px;
    color: #fff;
    padding: 8px;
    border-radius: 50%;
    background: rgb(240, 174, 50);
}
.info-detail .contact-address h4{
    margin-bottom: 6px;
    color: rgb(240, 174, 50);
    font-size: 18px;
    font-weight: 300;
}
.info-detail .contact-address p{
    color: #6d6868;
    font-size: 14px;
}
/* Map Section */
.map-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
.map{
    display: flex;
    flex-wrap: wrap;
}
.map-section .map-head h2{
    font-weight: 300;
    margin-top: 40px;
    margin-bottom: 10px;
}
.map-section .map-head p{
    color: #6d6868;
    margin-bottom: 15px;
    text-align: center;
}
