.feedback-container{
    width: 100%;
    height: 700px;
    padding: 20px 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; 
    background: rgb(245, 246, 247);

}
.feedback-area{
    width: 50%;
    padding: 20px;
}
.feedback-head h1{
    text-align: center;
}
.feedback-head p{
    font-size: 14px;
    color: #6d6868;
    margin-top: 8px;
    text-align: center;
    line-height: 20px;
}
.feedback-form{
    width: 80%;
    height: 500px;
    background: #fff;
    margin-top: 15px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
}
form{
    width: 50%;
    padding: 40px 20px;
}
form h2{
    color: #514c4c;
    font-size: 23px;
    font-weight: 300;
    margin-bottom: 15px;
}
form p{
    color: #3d3d3d;
    font-size: 16px;
    margin-bottom: 3px;
}
.flex{
    display: flex;
    justify-content: space-between;
}
form input,textarea{
    width: 100%;
    padding: 12px;
    border: none;
    outline: none;
    border-radius: 4px;
    margin-bottom: 12px;
    border: 2px solid #e8e8e8;
    font-size: 14px;
}
input::placeholder{
    color: #bebbbb;
}
textarea::placeholder{
    color: #bebbbb;
}
.send-btn{
    padding: 10px 65px;
    border: 1.6px solid rgb(241, 190, 94);
    color: rgb(240, 174, 50);
    background: #fff;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
}
.send-btn:hover{
    background-color: rgb(240, 174, 50);
    color: #fff;
}
.feedback-img{
    flex-basis: 50%;
    border-radius: 5px;
    background: rgb(245, 245, 248);
    position: relative;
}
