.main-content{
    height: 420px;
    width: 100%;
    background: #6d6868;
    display: flex;
    justify-content: space-evenly;
}
.main-text{
    display: flex;
    flex-basis: 50%;
    background: #fff;
    display: flex;
    flex-direction: column;
    padding-left: 60px;
    padding-right: 50px;
    justify-content: center;
    overflow: hidden;
}
.main-text h1{
    font-size: 2.3rem;
    font-weight: 750;
}
.animation-text{
    width: 2900px;
    overflow: hidden;
}
.animation-text .text{
    position: relative;
    color: rgb(240, 174, 50);
    font-size: 28px;
    font-weight: 600;
}
.animation-text .sec-text:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #fff;
    border-left: 3px solid rgb(240, 174, 50);
    animation: animate 4s steps(12) infinite;
}
@keyframes animate{
    40%,60%{
        left: calc(100% + 4px);
    }
    100%{
        left: 0%;
    }
}
.main-text p{
    font-size: 1.2rem;
    margin-top: 16px;
    margin-bottom: 50px;
}
.free-course-btn{
    padding: 5px 10px;
    border-radius: 4px;
    background-color: rgb(240, 174, 50);
    font-size: 1.2rem;
    width: 25%;
    text-align: center;
    cursor: pointer;
}
.free-course-btn:hover{
    background-color: rgb(245, 191, 90);
}
.free-course-btn a{
    text-decoration: none;
    color: #fff;
}
.main-img{
    flex-basis: 54%;
}
.main-img img{
    height: 100%;
    width: 100%;
}

/* Training secttion */

.training{
    height: 300px;
    width: 100%;
    background: #eae8e8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.training_head p{
    font-size: 16px;
    margin-top: 10px;
    text-align: center;
    color: black;
} 
.training_box{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 30px;
} 
.box{
    width: 170px;
    padding: 30px 20px;
    text-align: center;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    transition: transform 0.5s;
}
.box:hover{
    transform: translateY(-15px);
}

/* Services section */

#services{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-flow: wrap row;
    align-items: center;
    justify-content: center;
    padding: 15px 50px;
}
#service_head{
    width: 100%;
    text-align: center;
    font-size: 15px;
    font-weight: 200;
    margin-bottom: 50px;
    position: relative;
}
#service_head p{
    margin-top: 6px;
    font-size: 16px;
}
.service-content{
    width: 100%;
    display: flex;
    padding: 0 70px;
    flex-flow: wrap row;
    align-items: center;
    justify-content: center;
    position: relative;
}
.service_box{
    display: flex;
    flex-direction: column;
    height: 130px;
    width: 44%;
    background: #fff;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
    padding: 22px 5px 8px 8px;
    margin-right: 30px;
    border-radius: 8px;
}
.service_box i{
    color: #fff;
    background: rgb(240, 174, 50);
    padding: 14px;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    top: -24px;
}
.service_box h2{
    margin-bottom: 10px;
}
#service_box1 i{
    margin-top: 12%;
}#service_box1{
    margin-top: 14px;
}
/* Training program */

#training_program{
    height: 700px;
    width: 100%;
    background: rgb(231, 228, 228);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}
#training_boxes{
    width: 80%;
    height: 550px;
    display: flex;
    flex-wrap: wrap;
}
#training_program_head{
    text-align: center;
}
#training_program_head p{
    height: 60px;
    line-height: 20px;
    text-align: center;
    font-size: 16px;
}
.training_program_box h3{
    padding-left: 10px;
}
.training_program_box{
    height: 240px;
    width: 350px;
    background: #fff;
    border-radius: 10px;
    margin: 15px 25px; 
    transition: transform .4s;
}
.training_program_box i{
    font-size: 22px;
    padding: 8px 7px;
    border-radius: 50%;
    background: rgb(240, 174, 50);
    color: #fff;
    position: relative;
    top: -20px;
    left: 10px;
}
.training_program_box p{
    padding: 10px;
    line-height: 20px;
    font-size: 14px;
    text-align: justify;
    margin-bottom: 30px;
}
.training_program_box a{
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid grey;
    border-radius: 5px;
    box-sizing: border-box;
    color: gray;
    margin-left: 10px;
    cursor: pointer;
    transition: .4s;
}
.training_program_box a:hover{
    background-color: transparent;
    border: 1px solid rgb(240, 174, 50);
    color: rgb(240, 174, 50);
}
.training_program_box:hover{
    transform: scale(1.1);
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(360deg,rgb(239, 238, 237),rgb(243, 216, 106));
}
.training_program_box:hover i{
    background-color: #fff;
    color: rgb(240, 174, 50);
    border: 1px solid rgb(240, 174, 50);
}

/* Learning app */

.learning_app{
    height: 350px;
    width: 100%;
    background-image: url("images/8.webp");
    background-attachment: fixed;
    background-size: 100% 100%;
}
.cover{
    height: 350px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0,.6);
}
.text{
    text-align: center;
    padding-top: 30px;

}
.text h1{
    color: #fff;
    margin-bottom: 4px;
    font-weight: 600;
}
.text h2{
    color: rgb(240, 174, 50);
    font-weight: 400;
}
.text p{
    color: #fff;
}
.text a{
    padding: 8px 12px;
    border: 1px solid #fff;
    border-radius: 10px;
    text-decoration: none;
    color: #fff;
}
.text a:hover{
    border: 1px solid rgb(240, 174, 50);
    color: rgb(240, 174, 50);
}

/* Testimonial */

#testimonial{
    height: 500px;
    width: 100%;
    padding: 30px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#testimonial_head{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#testimonial_head p{
    padding: 10px 0 10px 0;
}
#reviews{
    width: 50%;
    overflow-x: scroll;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
}
#reviews::-webkit-scrollbar {
    display: none;
}
.review_box{
    width: 100%;
    overflow: hidden;
    padding: 20px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.review_box i{
    font-size: 50px;
    padding: 16px;
    border-radius: 50%;
    background: rgb(199, 198, 198);
    color: rgb(240, 174, 50);
}
.review_box h3{
    margin-top: 10px;
    color: rgb(240, 174, 50);
}
.review_box h4{
    color: rgb(240, 174, 50);
}
.review_box p{
    color: #000;
    font-size: 24px;
    margin-top: 50px;
}
.circle{
    margin-top: 7%;
}
.dot{
    height: 10px;
    width: 10px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 50%;
    float: left;
}
#arrowl i{
    font-size: 30px;
    position: absolute;
    left: 20%;
    cursor: pointer;
}
#arrowl i:hover{
    color: rgb(240, 174, 50);
}
#arrowr i{
    font-size: 30px;
    position: absolute;
    right: 20%;
    cursor: pointer;
}
#arrowr i:hover{
    color: rgb(240, 174, 50);
}
.active{
    background: rgb(240, 174, 50);
    border-color: rgb(240, 174, 50);
}

@media screen and (max-width: 800px) {

 .training{
    display: none;
 }   
#services{
    padding: 20px 10px 0px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#service_head h1{
    width: 100%;
    font-size: 23px;
}
#service_head p{
    font-size: 16px;
    padding: 0 8px;
    margin-top: 16px;
}
.service-content{
    padding: 5px;
    margin-top: -10%;
}
.service_box h2{
    font-size: 18px;
}
.service_box p{
    font-size: 14px;

}
.service_box{
    width: 100%;
    height: 190px;
    box-shadow: none;
    margin-bottom: -24px;
    padding: 4px;
    padding-left: 45px;
    position: relative;
}
.service_box i{
    padding: 10px;
    width: 40px;
    position: absolute;
    top: 3%;
    left: 1%;
}
#service_box1{
    margin-top: -1px;
    margin-bottom: 20px;
}
#service_box1 i{
    margin-top: -1%;
}

#training_program{
    height: 2100px;
    background: rgb(231, 228, 228);
}
.training_program_box{
    margin-bottom: 20px;
    height: 280px;
    width: 100%;
}
#training_program_head h1{
    width: 100%;
    font-size: 23px;
    margin-bottom: 6px;
}
#training_program_head p{
    font-size: 14px;
    padding: 0 18px;
    margin-bottom: 30px;
}
.training_program_box p{
    font-size: 13px;
}
#training_boxes{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.text h1{
    font-size: 23px;
}
#contact{
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
#advertise{
    width: 90%;
}
#advertise img{
    width: 230px;
    height: 60px;
}
#address{
    width: 100%;
}
#content{
    width: 100%;
}
#content img{
    width: 150px;
    height: 40px;
}
#testimonial{
    width: 100%;
    padding: 20px;
}
.testimonial-arrow{
    visibility: hidden;
}
#testimonial_head{
    width: 100%;
    text-align: center;
}
#testimonial_head h1{
    width: 100%;
    font-size: 25px;
}
.circle{
    margin-top: 27%;
}
}
